<ul class="nav navbar-nav">
    <li>@Html.ActionLink("All Task", "getTasks", "Task")</li>
    <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
</ul>
<br /><br /><br /><br />
@{
    ViewBag.Title = "Hello";
}
<h2>Hello, you are LOGGED IN</h2>
