
@{
    ViewBag.Title = "Index";
}

<div class="navbar-header">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    </ul>
</div>
<br /><br /><br />
<h2>Unatorized access! Please log in first!</h2>

